@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

/* HOME PAGE & NAVBAR */
body {
    background-color: #f7f7f2;
    color: #1e1e24;
}

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f7f7f2; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.8s ease, visibility 0.8s ease;
}

.splash-content {
    text-align: center;
}

.splash-gif {
    width: 200px;
    margin-bottom: 20px;
}

.fade-out {
    opacity: 0;
    pointer-events: none;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 8rem;
    background: transparent;
}

.logo-capsule, .navbar-capsule {
    color: #1e1e24;
    font-size: 1.2rem;
    font-weight: 600;
    background: rgba(247, 247, 242, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 0.5px solid rgba(30, 30, 36, 0.1);
    box-shadow: 0 -2px 3px -3px black, 0 5px 3px -3px;
    padding: 0.8rem 1.5rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.navbar-capsule {
    list-style: none;
    gap: 1rem;
}
.navbar-capsule a {
    color: #1e1e24;
    font-weight: 500;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    transition: all 0.4s ease;
    font-size: 1rem;
}

.navbar-capsule a:hover {
    background-color: #1e1e24;
    color: #f7f7f2;
    transform: translateX(10px);
}

.logo {
    color: #1e1e24;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}
.navbar-capsule a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    display: block;
}

.navbar-capsule a::before {
    content: "» ";
    left: -20px;
    opacity: 0;
    font-size: 1.2rem;
    transition: all 0.4s ease;
}

.navbar-capsule a:hover::after {
    width: 100%;
}

.navbar-capsule a:hover::before {
    opacity: 1;
    left: -25px;
}

.navbar-capsule a.active {
    background-color: #1e1e24;
    color: #f7f7f2;
    transform: scale(1.05);
}

.navbar-capsule a.active::before {
    content: "» ";
    opacity: 1;
    left: -20px;
}

.navbar-capsule a {
    position: relative;
    transition: all 0.3s ease;
}

.home {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 2rem 5rem 0 18rem;
    gap: 1rem;
}

/*  */
.home-img {
    position: relative;
    overflow: hidden;
    border-radius: 20rem;
    width: fit-content;
    margin: 0 auto;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.home-img img {
    width: 400px;
    height: auto;
    border-radius: 20rem;
    filter: grayscale(100%);
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/*  */
.home-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        to right, 
        rgba(255, 255, 255, 0) 0%, 
        rgba(255, 255, 255, 0.4) 50%, 
        rgba(255, 255, 255, 0) 100%
    );
    transform: skewX(-25deg);
    transition: none;
}
/*  */
.home-img:hover img {
    transform: scale(1.1);
    ;
}

.home-img:hover::after {
    left: 150%;
    transition: all 0.5s ease;
}

.home-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.home-text h3 {
    position: relative;
    padding-left: 6rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.home-text h3::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: #1e1e24;
    left: 0;
    top: 1rem;
}

.home-text h3::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: #1e1e24;
    right: 6.5rem;
    top: 1rem;
}

.home-text p {
    margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  width: fit-content;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
  color: #f7f7f2;
  border: 1px solid #1e1e24;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  background-color: #1e1e24;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.4s ease;
}

.btn::before {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f7f7f2;
  z-index: -1;
  transition: bottom 0.4s ease;
}

.btn:hover {
  color: #1e1e24;
  transform: translateY(-3px);
}
.btn:hover::before {
  bottom: 0;
}

.social-icons {
    position: absolute;
    top: 40%;
    padding: 0 8rem;
}

.social-icons i {
    display: block;
    margin: 25px 0;
    color: #1e1e24;
    font-size: 1.5rem;
    transition: all 0.6s;
}

.social-icons i:hover {
    transform: rotate3d(0,0,1,90deg);
}

.scroll-btn {
    position: absolute;
    bottom: 7%;
    left: 9%;
}

.scroll-btn {
    color: #1e1e24;
    font-weight: 600;
    display: flex;
    align-items: center;
}

/* Animasi dasar: fade in untuk home page, muncul setelah halaman welcome selesai*/
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
        filter: blur(5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

.fade-item {
    opacity: 0;
    transform: translateY(40px);
}

.start-animation .fade-item {
    animation: fadeInUp 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.start-animation .delay-1 { animation-delay: 0.2s; }
.start-animation .delay-2 { animation-delay: 0.4s; }
.start-animation .delay-3 { animation-delay: 0.6s; }
.start-animation .delay-4 { animation-delay: 0.8s; }
.start-animation .delay-5 { animation-delay: 1.0s; }

/* ABOUT ME PAGE ABOUT ME PAGE ABOUT ME PAGE ABOUT ME PAGE ABOUT ME PAGE ABOUT ME PAGE*/
.about-section {
    padding: 80px 15%;
    background-color: #f7f7f2;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.about-wrapper {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    gap: 3rem;
    align-items: start;
}

.about-illustration .main-img {
    width: 100%;
    max-width: 280px;
    filter: grayscale(100%);
    margin-top: 50px;
    border-radius: 50%;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    transition: filter 0.5s ease;
    
    padding: 6px; 
    outline: 2px solid #1e1e24; 
    outline-offset: 4px;
}

.about-illustration .main-img:hover {
    filter: grayscale(0%);
    outline-offset: 8px;
}

.about-title {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
    color: #1e1e24;
}

.user-name {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #333;
}
.info-item {
    margin-bottom: 2rem;
}

.info-item h3 {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    color: #1e1e24;
    border-left: 4px solid #1e1e24;
    padding-left: 15px;
}

.info-item p {
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.info-item span {
    font-size: 0.9rem;
    color: #777;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
}

.skills-grid span {
    background: #8888;
    border: 0.8px solid #8888;
    padding: 6px 15px;
    border-radius: 7px;
    font-size: 0.85rem;
    color: #1e1e24;
    transition: 0.3s;
}

.skills-grid span:first-child {
    border-radius: 20px 7px 7px 20px;
    border-left: 2px solid #8888;
}

.skills-grid span:last-child {
    border-radius: 7px 20px 20px 7px;
    border-right: 2px solid #8888;
}
.skills-grid span:hover {
    background: #1e1e24;
    color: #f7f7f2;
}

.about-illustration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-light {
    position: relative;
    display: inline-block;
    padding: 1rem 2rem;
    margin-top: 3rem;
    background-color: #1e1e24;
    color: #f7f7f2;
    border: 2px solid #1e1e24;
    border-radius: 4rem;
    font-weight: 600;
    transition: 0.4s;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
}

.btn-light::before {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f7f2;
    z-index: -1;
    transition: bottom 0.4s ease;
}

.btn-light:hover {
    color: #1e1e24;
}

.btn-light:hover::before {
    bottom: 0;
}

 /* SCROLL REVEAL ANIMATION */
.reveal-item {
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.8s ease;
}

.reveal-item.show {
    opacity: 1;
    transform: translateY(0);
}

.reveal-delay-1 { transition-delay: 0.1s; }
.reveal-delay-2 { transition-delay: 0.2s; }
.reveal-delay-3 { transition-delay: 0.3s; }
.reveal-delay-4 { transition-delay: 0.4s; }
.reveal-delay-5 { transition-delay: 0.5s; }
.reveal-delay-6 { transition-delay: 0.6s; }


 /* PORTFOLIO SHOWCASE PORTFOLIO SHOWCASE PORTFOLIO SHOWCASE PORTFOLIO SHOWCASE PORTFOLIO SHOWCASE*/
.showcase-section {
    padding: 100px 15%;
    text-align: center;
    background-color: #f7f7f2;
}

.showcase-title {
    font-size: 2.5rem;
    color: #1e1e24;
    margin-bottom: 1rem;
}

.tab-buttons {
    margin: 2.5rem 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.tab-btn {
    padding: 0.8rem 2rem;
    border-radius: 40px;
    border: 2px solid #1e1e24;
    background: transparent;
    color: #1e1e24;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tab-btn.active {
    background: #1e1e24;
    color: #f7f7f2;
}

.tab-btn:hover:not(.active) {
    background: rgba(30, 30, 36, 0.05);
}

.tab-content {
    display: none;
    margin-top: 2rem;
}

.tab-content.active {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 450px));
    justify-content: center;
    gap: 2rem;
}

#techstack.active {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.card {
    background: #1e1e24;
    padding: 20px;
    border-radius: 8px;
    min-height: 160px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

.card-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background: #f0f0f0;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.card:hover .card-img img {
    transform: scale(1.05);
}

.card-info {
    padding: 1.5rem;
    text-align: left;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-info h3 {
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
    color: #f7f7f7;
}

.card-info p {
    font-size: 0.9rem;
    color: #b0b0b0;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.card-links {
    margin-top: auto;
    display: flex;
    gap: 12px;
}

.link-btn {
    padding: 0.6rem 1.2rem;
    border-radius: 10px;
    font-size: 0.85rem;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s;
    border: 1px solid #f7f7f7;
    color: #f7f7f7;
}

.link-btn.primary {
    background: #f7f7f7;
    color: #1e1e24;
}

.link-btn:hover {
    background: transparent;
    color: #ffffff;
    border-color: #ffffff;
}

.tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 16px;
    margin-top: 20px;
}

 .tech-card {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    background: transparent;
    border: 2px solid #1e1e24;
    border-radius: 20px;
    transition: all 0.3s ease;
}


.tech-card img {
    width: 50px;
    height: 50px;
    filter: grayscale(20%);
    transition: 0.3s;
}

.tech-card:hover {
    transform: translateY(-5px);
    background: rgba(30, 30, 36, 0.05);
}

.tech-card span {
    color: #1e1e24;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

/* CONTACT ME CONTACT ME CONTACT ME CONTACT ME CONTACT ME CONTACT ME*/
.contact-section {
    padding: 100px 15%;
    text-align: center;
    background: #f7f7f2;
}

.contact-title {
    font-size: 2.3rem;
    margin-bottom: 3rem;
    color: #1e1e24;
}

.contact-title span {
    color: #000;
}

.contact-form {
    max-width: 800px;
    margin: auto;
}

.form-row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: 2px solid #1e1e24;
    background: transparent;
    font-size: 0.9rem;
}

.contact-form textarea {
    height: 150px;
    resize: none;
    margin-bottom: 20px;
}

.contact-btn {
    padding: 12px 28px;
    border-radius: 10px;
    border: none;
    background: #1e1e24;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.contact-btn:hover {
    transform: translateY(-3px);
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
.footer-bottom {
    text-align: center;
    padding: 15px 10px;
    background-color: #1e1e24;
    color: #898989;
    font-size: 14px;
}

.footer-bottom p {
    margin: 0;
}

.typed-cursor {
    color: #1e1e24 IMPO !important;
    font-size: 1.2rem;
    line-height: 1.6;
    vertical-align: middle;
}

#typing-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #1e1e24;
    line-height: 1.6;
}

.user-desc {
    position: relative;
    min-height: 150px;
    margin-bottom: 2rem;
    line-height: 1.6;
    text-align: justify;
    color: transparent;
}
.modal {
    display: none;
    position: fixed;
    z-index: 2000; 
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    backdrop-filter: blur(5px);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    animation: zoom 0.3s;
}

@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}